<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet"href="/stylesheets/bootstrap-responsive.css"/>
    <link rel="stylesheet"href="/stylesheets/jquery-ui-1.10.4.custom.css"/>
    <!--<link rel="stylesheet"href="/stylesheets/Autotag/examples.css"/>
    <link rel="stylesheet"href="/stylesheets/Autotag/jquery.tagit.css"/>
    <link rel="stylesheet"href="/stylesheets/Autotag/jquery-ui.css"/>
    <link rel="stylesheet"href="/stylesheets/Autotag/master.css"/>
    <link rel="stylesheet"href="/stylesheets/Autotag/reset.css"/>
    <link rel="stylesheet"href="/stylesheets/Autotag/subpage.css"/>
    <link rel="stylesheet"href="/stylesheets/Autotag/tagit.ui-zendesk.css"/>-->
    <link rel="stylesheet"href="/stylesheets/bootstrap.css"/>
</head>
<body style="background-color: black">
<div class="row-fluid">
    <div class="span2 offset1">
        <input  id="autocomplete" title="type &quot;a&quot;">
        <Button class="btn-danger" id="SerachAllContent">Search <i class="icon-search"></i></Button>
    </div>
    <div class="span6 offset2">
        <ul class="nav ">
            <li style="float: right" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown"      href="#">
                    <div style="display: inline-block" id="ali"></div>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/">Profile</a></li>
                    <li><a href="#">Account Setting</a></li>
                    <li><a href="#">Privace Setting</a></li>
                    <li class="divider"></li>
                    <li><a href="/log_out">LogOut</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div style="margin-top: 25px" class="row-fluid">

    <div style="border: 1px solid green;background-color: #f5f5f5" class="span8 offset2">
        <div class="media">
            <a class="pull-left" href="#">
                <div  id="issue_image"></div>
               <!-- <img style="width: 60px;height: 64px;" class="media-object" src="a.jpg">-->
            </a>
            <div class="media-body">
                <h4 class="media-heading"><%= doc.issue_name %></h4>
                <blockquote>
                    <p class="well-large">
                      <%= doc.issue_description %>
                    </p>
                </blockquote>
                <pre>
                    <%= doc.content_of_file %>
                </pre>
                <small><cite>Posted By  <strong><a href="#"> <%= doc.name %></a></strong></cite></small>
                <small class="pull-right"><cite><a href="#">Like</a>&nbsp;&nbsp;&nbsp;<div style="color: blue;display: inline-block">0 Likes</div></cite></small><br/>
                <div class='row-fluid'><div class='span4'><textarea  id='cmt_text' class='divider' placeholder='Enter Your Comment Over Herer'></textarea><button class='btn-large' id='cmt_button'>Comment</button></div><div class='span2 offset3'><blockquote id='already_tag'><small>No Tag  <cite title='Source Title'>Here  </cite></small></blockquote></div>

                </div>

            </div>
        </div>

    </div>

</div>
<div style="margin-top: 25px" class="row-fluid">
    <div id='comment_area' class="span8 offset2">

    </div>
</div>

<script src="/javascripts/jquery-2.0.3.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/jquery-ui-1.10.4.custom.js"></script>
<!--<script src="/javascripts/Autotag/jquery.min.js"></script>-->
<!--<script src="/javascripts/Autotag/jquery-ui.min.js"></script>
<script src="/javascripts/Autotag/tag-it.js"></script>-->

<!--<script src="/javascripts/User_Profile.js"></script>-->
<script>
    $(document).ready(function()
    {

        var comment_value = 0;
        var delete_value = 0;
        var email = <%- JSON.stringify(doc.email) %>;
        var name =  <%- JSON.stringify(doc.name)%>;
        var issue_name = <%- JSON.stringify(doc.issue_name)%>;
        $.ajax
        ({
            url:'/Get_User_Image',
            type:'POST',
            data:{email:email},
            success:function(Image)
            {

                if(Image == "yes")
                {
                    $("#ali").append("<img style='max-width:20px;height:20px;' src='/img/SignUpBackGround.jpg'/>");
                    $("#issue_image").append("<img style='max-width:60px;height:64px;' class='media-object' src='/img/SignUpBackGround.jpg'/>");
                }
                else
                {
                    var oImg1 = document.createElement("img");
                    var oImg = document.createElement("img");
                    oImg1.setAttribute('src', 'data:image/png;base64,' + Image);
                    oImg.setAttribute('src', 'data:image/png;base64,' + Image);
                    oImg1.setAttribute('id', 'image');
                    oImg.setAttribute('class', 'media-object');
                    oImg1.setAttribute('style','width:20px;height:20px');
                    oImg.setAttribute('style','width:60px;height:64px')
                    $("#ali").append(oImg1);
                    $("#issue_image").append(oImg);
                }
            }
        })

        $('#cmt_button').on("click",function()
        {
            var comment = $('#cmt_text').val();
            $.ajax
            ({
                url:'/comment',
                type:'post',
                data:{comment:comment,issue_name:issue_name},
                success:function(res)
                {

                    $('#comment_area').append("<div style='border-bottom: 1px solid gray ;padding-bottom: 15px;' class='media'> <a class='pull-left' href='#'> <div  id=" + "comment_image" +comment_value + "></div></a><div class='media-body'><h4 class='media-heading'>"+ name + "</h4><a class='delete_comment_class' id=" + "delete_image" +delete_value + "  href='#'><i   style='float: right' class='icon-remove'></i></a><p>"+ comment+"</p><div class='media'> </div></div></div>");
                    $.ajax
                    ({
                        url:'/Get_Current_User_Info',
                        type:'POST',
                        success:function(res)
                        {
                            $.ajax
                            ({
                                url:'/Get_User_Image',
                                type:'POST',
                                data:{email:res.email},
                                success:function(Image)
                                {

                                    if(Image == "yes")
                                    {


                                        $('#comment_image'+ comment_value+'').append("<img style='max-width:60px;height:64px;' class='media-object' src='/img/SignUpBackGround.jpg'/>");
                                        comment_value++;
                                    }
                                    else
                                    {

                                        var oImg1 = document.createElement("img");
                                        oImg1.setAttribute('src', 'data:image/png;base64,' + Image);
                                        oImg1.setAttribute('class', 'media-object');
                                        oImg1.setAttribute('style','width:60px;height:64px')
                                        //$(".comment_image").append(oImg1);
                                        $('#comment_image'+ comment_value+'').append(oImg1);
                                        comment_value++;

                                    }
                                    $('.delete_comment_class').on("click",function()
                                    {
                                        var id_of_comment_delete = $(this).attr("id");      //get the id of current click button that i generated dynamically
                                        alert(id_of_comment_delete);                        //alert it
                                        var no_of_comment_delete = id_of_comment_delete.charAt(13);
                                        alert(no_of_comment_delete);
                                    });


                                }
                            })

                        }
                    })
                }
            })
        });

    });
</script>
</body>
</html>